In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('src/python/modular/datasets/data.csv')

In [8]:
df[df.keys()[1:-1]]

         x_1       x_2
0  -2.921542 -2.924093
1   0.136782  0.540402
2   2.747296  1.547237
3  -2.780707 -2.673131
4   2.030421  1.329452
5  -0.314170 -2.591670
6  -1.896219 -0.516953
7   1.432148  0.841080
8   0.885989  2.424742
9  -2.634456  1.428708
10 -0.883495 -2.718285
11  2.472788  2.624853
12  2.002937 -1.070396
13  2.197862 -2.787815
14  1.544245 -1.914605
15  0.531598  1.602638
16 -0.065644 -1.447910
17  0.226560 -2.942520
18 -1.310952  0.312063
19  2.217122  0.693372
20  1.597232  0.706283
21 -0.891975 -0.569499
22  1.014214  0.321519
23 -2.473290  0.243808
24 -1.699323  2.924903
25  1.933352 -2.145950
26  1.946891  0.437588
27 -1.624785  1.253863
28 -1.907964 -2.219304
29  1.663755  0.300895
30  1.818830  2.477223
31 -2.264410 -1.765810
32  2.178293 -2.558951
33  1.167327 -2.360956
34  1.149573  0.991095
35  0.890955  2.479988
36 -1.491253 -2.819098
37 -2.619210  0.808537
38  2.815050 -0.192009
39  0.272109  2.469674
40 -2.182714  1.452801
41  0.063411  2.272559
42 -0.037378  0.251734
43  1.504425  1.533608
44  1.182538 -2.844850
45 -0.323860 -0.339449
46  0.028762 -2.867211
47 -1.947651  2.988537
48 -1.084551 -0.654831
49  1.673343  0.638684
50  1.857599  2.540982
51  2.473179  2.268406
52  2.383805 -0.759423
53 -1.452115 -0.822358
54 -0.949129  2.372274
55 -0.836347 -2.553538
56 -2.884752 -1.695055
57 -1.378204  1.622699
58 -0.703106 -2.928995
59 -2.746661  0.657815

In [9]:
df[df.keys()[-1]]

0     0
1     1
2     1
3     0
4     1
5     0
6     0
7     1
8     1
9     0
10    0
11    1
12    1
13    0
14    0
15    1
16    0
17    0
18    0
19    1
20    1
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    0
29    1
30    1
31    0
32    0
33    0
34    1
35    1
36    0
37    0
38    1
39    1
40    0
41    1
42    0
43    1
44    0
45    0
46    0
47    1
48    0
49    1
50    1
51    0
52    1
53    0
54    1
55    0
56    1
57    1
58    1
59    1
Name: y, dtype: int64